@charset "utf-8";
  /*
  html5doctor.com Reset Stylesheet
  v1.6.1
  Last Updated: 2010-09-17
  Author: Richard Clark - http://richclarkdesign.com
  Twitter: @rich_clark
  */

  html, body, div, span, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  abbr, address, cite, code,
  del, dfn, em, img, ins, kbd, q, samp,
  small, strong, sub, sup, var,
  b, i,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section, summary,
  time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
  }

  body {
    line-height:1;
    background-color: #fff;
  }

  article,aside,details,figcaption,figure,
  footer,header,hgroup,menu,nav,section {
    display:block;
  }

  nav ul {
    list-style:none;
  }

  blockquote, q {
    quotes:none;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
    content:'';
    content:none;
  }

  a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
  }
  
  .reference a {
    text-decoration:none;
  }

  /* change colours to suit your needs */
  ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
  }

  /* change colours to suit your needs */
  mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
  }

  del {
    text-decoration: line-through;
  }

  abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
  }

  table {
    border-collapse:collapse;
    border-spacing:0;
  }

  /* change border colour to suit your needs */
  hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
  }

  input, select {
    vertical-align:middle;
  }
/*========= ここまでリセットCSS ===============*/


/*========= 上部固定させるためのCSS ===============*/
#header{
  height: 70px;/*高さ指定*/
  width:100%;/*横幅指定*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#11086c;
  color:#fff;
  text-align: center;
  padding-right: 0px;
  position: sticky;
  top:0;
  z-index:100;
  margin:0;
  }

/*========= レイアウトのためのCSS ===============*/

body{
  font:18px "Sylfaen","ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
}

.Logo{
  width: 124px;
  height: 70px;
}
.menu{
    padding-right: 10px;/* メニューの位置調整 */
}

h1.heading {
  padding-bottom: 5px;
  margin: 10px 0;
  font-size: 2em;
  border-bottom: 2px solid #848484;
  font-weight: bold;
  text-align: center;
}
h2{
  font-size:1.4rem;
  margin: 0 0 10px 0;
}
h3{
  font-size:1.2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}
p {
  text-align: justify;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}

.p_dayo p {
  padding-right: 20px;
  word-wrap: break-word; /* 長い単語を折り返す */
  overflow-wrap: break-word; /* 長い単語を折り返す */
}
.p_dayo a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
}

ol li { 
  list-style-position: outside;
  margin-left: 20px;
}
li::marker {
  font-weight: bold;
}
#Reference li::marker {
  font-weight: normal;
}
ul {
  list-style-type: none;
}
ol {
  text-align: justify;
}

nav ul{
  display: flex;
  justify-content: center;
}
.inner {
  margin: 0 15%;
}
.inner img {
  width: 100%;
  size: 2%;
}


footer small{
  background:#333;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px 0;
}

section{
  padding:30px;
}

section:nth-child(2n){
  background:#f3f3f3; 
}


/*========= 川口が入れたやつ ===============*/
#scrollToTopBtn {
  position: fixed;
  bottom: 40px; /* 画面下からの距離 */
  right: 40px; /* 画面右からの距離 */
  background-color: #11086c; /* 背景色 */
  color: #ffffff; /* テキストの色 */
  border: none; /* ボーダーなし */
  border-radius: 50%; /* 円形のボタンにする */
  width: 70px; /* ボタンの幅 */
  height: 70px; /* ボタンの高さ */
  font-size: 20px; /* テキストのサイズ */
  line-height: 50px; /* テキストの垂直方向の中央揃え */
  text-align: center; /* テキストの水平方向の中央揃え */
  display: none; /* 最初は非表示 */
}

#scrollToTopBtn:hover {
  background-color: #0c0650; /* ホバー時の背景色 */
  cursor: pointer; /* ホバー時にポインターを変更 */
}

#header h1{
  font-size: 6vh;
}

.menu {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  color: #fff;
  padding: 0;
}

.menu li {
  position: relative;
  width: 140px;
  height: 70px;
  background: #11086c;
  font-size: large;
}

.menu li a {
  display: block;
  position: relative;
  text-align: center;
  height: 100%;
  line-height: 70px;
  font-size: 4vh;
}

.menuSub {
  position: absolute;
  display: none;
}

#header a{
  display: block;
  text-decoration: none;
  color: #fff;
  transition:all 0.3s;
}
.container {
  display: inline-block;
}
.container-img {
  display: inline-block;
}
figure {
  margin-top: 20px;
  width: 100%;
  display: inline-block;
  text-align: center;
}
figure.left {
  float: left;
  text-align: left;
}
figure.right {
  float: right;
  text-align: right;
}
div.right {
  float: right;
  text-align: right;
}

figcaption {
  width: 100%; /* キャプションの幅を画像に合わせる */
  text-align: left;
  word-wrap: break-word; /* 長い単語を折り返す */
  overflow-wrap: break-word; /* 長い単語を折り返す */
  margin-top: 2px;
  margin-bottom: 8px;
  font: italic sans-serif;
}

/* 表には適宜以下のclassを付与する */
figcaption.table {
  margin-top: 8px;
  margin-bottom: 2px;
}

figcaption.center {
  text-align: center;
}


img {
  display: inline-flex;
}



/*.openが付与された時、表示の設定*/
.menuSub.open {
  display: block;
}
.menuSub li{
  height: 40px;
}

.menuSub li a {
  display: block;
  color: #fff;
  line-height: 40px;
  text-decoration: none;
  font-size: 3.5vh;
}

.menuSub li a:hover {
  background: #FFCA7B;
}

/* 強調用 */
span.emphasize {
  font-weight: bold;
}


/* 動きません。
@keyframes highlight {
  0% {
    background-color: #e0f7ff;
  }
  100% {
    background-color: transparent;
  }
}
#Reference_1:target {
  animation: highlight 2.4s ease-in-out;
} */


/* ここからオープニングアニメーションのCSS*/
/* .bg {
  width: 100vw;
  height: 100vh;
  background: #11086c;
  animation: bgAnime 1s linear 1.8s forwards;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2999999;
}

.text {
  text-align: center;
  font-size: 6vw;
  font-family: 'Pacifico', cursive;
  color: #fff;
  height: 1em;
  line-height: 1.2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 7;
  opacity: 0;
  animation: textAnime1 .5s linear forwards;
}

.text span {
  display: inline-block;
}

.text span:nth-child(1) {
  animation: textAnime2 .6s ease-in-out .5s forwards;
}

.text span:nth-child(2) {
  animation: textAnime2 .6s ease-in-out .6s forwards;
}

.text span:nth-child(3) {
  animation: textAnime2 .6s ease-in-out .7s forwards;
}

.text span:nth-child(4) {
  animation: textAnime2 .6s ease-in-out .8s forwards;
} */

/*keyframe*/
/* @keyframes textAnime1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes textAnime2 {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-30%);
  }

  75% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bgAnime {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
} */

/*  ここまでオープニングアニメーションのCSS*/